[General]
__userfile__=true
panels=topbar, bottombar
iconTheme=

[topbar]
alignment=-1
animation-duration=50
background-color=@Variant(\0\0\0\x43\x1\xff\xff\0\0\0\0\0\0\0\0)
background-image=
desktop=0
font-color=@Variant(\0\0\0\x43\0\xff\xff\0\0\0\0\0\0\0\0)
hidable=false
iconSize=22
lineCount=1
lockPanel=false
opacity=15
panelSize=32
plugins=mainmenu, taskbar, mount, volume, tray, statusnotifier, worldclock
position=Top
reserve-space=true
show-delay=0
visible-margin=true
width=100
width-percent=true

[mainmenu]
alignment=Left
ownIcon=true
icon=/home/{{ ansible_user_id }}/.icons/WhiteSur/pear.svg
type=mainmenu

[taskbar]
alignment=Left
type=taskbar

[mount]
alignment=Right
type=mount

[volume]
alignment=Right
type=volume

[tray]
alignment=Right
type=tray

[statusnotifier]
alignment=Right
type=statusnotifier

[worldclock]
alignment=Right
type=worldclock

[bottombar]
alignment=-1
animation-duration=50
background-color=@Variant(\0\0\0\x43\x1\xff\xff\0\0\0\0\0\0\0\0)
background-image=
desktop=0
font-color=@Variant(\0\0\0\x43\0\xff\xff\0\0\0\0\0\0\0\0)
hidable=true
iconSize=48
lineCount=1
lockPanel=false
opacity=0
panelSize=56
plugins=bottomleftspacer, quicklaunch, bottomrightspacer
position=Bottom
reserve-space=true
show-delay=0
visible-margin=true
width=100
width-percent=true

[quicklaunch]
alignment=Left
apps\1\desktop=/usr/share/applications/pcmanfm-qt.desktop
apps\2\desktop=/usr/share/applications/firefox-esr.desktop
apps\3\desktop=/usr/share/applications/qterminal.desktop
apps\4\desktop=/home/{{ ansible_user_id }}/Desktop/trash-can.desktop
apps\size=4
type=quicklaunch

[bottomleftspacer]
alignment=Left
expandable=true
spaceType=invisible
type=spacer

[bottomrightspacer]
alignment=Left
expandable=true
spaceType=invisible
type=spacer
